.loanForm {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.formGroup {
    margin-bottom: 30px;
}

.formButtons {
    display: flex;
    gap: 15px;
    margin-top: 40px;
}

.backButton,
.submitButton {
    flex: 1;
}

.loanApprovalMessage {
    text-align: center;
    & p {
        margin-bottom: 15px;
        line-height: 1.6;
    }
}

.modalCloseButton {
    margin-top: 20px;
}
